
html, body {
    margin: 0px;
    background-color: rgb(16, 63, 16);
    color: white;
}
.title-blackjack {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.card {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#player-cards, #computer-cards {
    height: 230px;
}